:root{
  --primary: #F3E8DF; 
  --secondary: #57595B;
  --tertiary: #8b6f47;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--primary); 
  font-size: 18px;
  font-weight: 500;
  color: var(--tertiary);
}

.header {
  background-color: var(--tertiary); 
  color: white; 
  font-size: 2rem; 
}

.hero {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('public/library.jpg');
  background-size: cover;
  background-position: center;
  filter: brightness(0.4); /* Darkens image only (0.0=black, 1.0=normal) */
  z-index: 1;
}

.navBtn {
  font-size: 1rem; 
}

.loginCard {
  width: 500px;
  background: white;
  border-radius: 24px;
  color: var(--tertiary);
  margin:auto; 
  font-weight: 500;
}

.acc-input{
  border: 3px solid var(--tertiary) !important;
  border-radius: 8px;
  height: 50px;
}

.acc-btn {
  color: white; 
  transition: filter 0.2s ease;
  background-color:var(--tertiary);
  border:none;
  font-weight:bold;
  filter: brightness(1); 
}
.acc-btn:hover{
  color: white; 
  background-color:var(--tertiary);
  filter: brightness(0.8); 
}

.google-btn {
  font-size:1.2rem;
  border: 1px solid var(--tertiary); 
  color: var(--tertiary);
  transition: filter 0.2s ease;
  filter: brightness(1); 
}

.google-btn:hover {
  border: 1px solid var(--tertiary); 
  filter: brightness(0.8);
}

.toggle-link {
  color: var(--tertiary);
  cursor: pointer;
  text-decoration: none;
}

.toggle-link:hover {
  color: var(--tertiary);
  text-decoration: underline; 
}

.dropdown-item:hover {
  background-color: rgba(139, 111, 71, 0.1); 
}

.dropdown-item:active {
  background-color: rgba(139, 111, 71, 0.2);
}
.genre-checkbox {
  border-color: var(--tertiary) !important;
}

.genre-checkbox:checked {
  background-color: var(--tertiary) !important;
  border-color: var(--tertiary) !important;
}

.genre-checkbox:focus {
  border-color: var(--tertiary) !important;
  box-shadow: 0 0 0 0.25rem rgba(139, 111, 71, 0.25) !important;
}

/* Hover effect */
.genre-checkbox:hover {
  border-color: var(--tertiary) !important;
}

.card-btn {
  height: 75px; 
  width: 75px;
  border-radius:16px;
  border: 4px solid var(--tertiary);
  color: var(--tertiary);
  background-color: white;
}
.card-btn:hover {
  filter:brightness(0.8);
}

.input-add-book {
  position: fixed; 
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%);
  height: 450px;
  width: 400px;
  z-index:99; 
  display: none; 
}
