:root{
  --primary: #F3E8DF; 
  --secondary: #57595B;
  --tertiary: #E8D1C5;
  --header: #452829;
}

body {
  font-family: 'Funnel Display';
  width: 100%;
  height: 100%;
  background-color: var(--primary); 
}

.header {
  background-color: var(--header); 
  color: var(--tertiary); 
  font-size: 2rem; 
}

/* TEXT LINK */
.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}
