:root{
  --primary: #F3E8DF; 
  --secondary: #57595B;
  --tertiary: #8b6f47;
  --header: #8b6f47;
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: var(--primary); 
  font-size: 18px;
}

.header {
  background-color: var(--header); 
  color: white; 
  font-size: 2rem; 
}

.navBtn {
  font-size: 1rem; 
}

.loginCard {
  width: 500px;
  height: 650px;
  background: white;
  border-radius: 24px;
  color: var(--tertiary);
  margin:auto; 
  font-weight: 500;
}

.acc-input{
  border: 3px solid var(--header) !important;
  border-radius: 8px;
  height: 50px;
}

.acc-btn {
  color: white; 
  transition: filter 0.2s ease;
  filter: brightness(1); 
}
.acc-btn:hover{
  color: white; 
  filter: brightness(0.8); 
}

.google-btn {
  font-size:1.2rem;
  border: 1px solid var(--header); 
  color: var(--header);
  transition: filter 0.2s ease;
  filter: brightness(1); 
}

.google-btn:hover {
  border: 1px solid var(--header); 
  filter: brightness(0.8);
}

.toggle-link {
  color: var(--tertiary);
  cursor: pointer;
  text-decoration: none;
}

.toggle-link:hover {
  color: var(--tertiary);
  text-decoration: underline; 
}
